.container {
  padding-right: 6%;
  padding-left: 6%;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.list-style-none {
  list-style: none;
}

.d-block {
  display: block;
}

.pl-5 {
  padding-left: 20px;
}

.mb-4 {
  margin-bottom: 12px;
}

.text-justify {
  text-align: justify;
}
